extends layout

block content
  .homepage-container
    .container
      .soldier
      .abstack-text#animate-abstack-text
        .front
          .front-line-1
          .front-line-2
          .front-line-3
          .front-line-4
          .front-line-5
          .front-line-6
        .back
      .elephant
      .clearfix
      .skyline
