extends layout

block content
  .container
    img(src="images/project_list_start.jpg", alt="", no-retina="true").project-list-start
    ul.project-list
      li
        a(href="http://www.vzhuli.cn/", target="_blank")
          img(src="images/projects/vaid.jpg", alt="vaid", no-retina="true")
          img(src="images/projects/vaid_active.jpg", alt="vaid", no-retina="true").project-active-pic
          h2 V 助理
          p V 助理是目前国内首家在线私人服务提供商
      li
        a(href="http://www.wegohz.com/", target="_blank")
          img(src="images/projects/wego.jpg", alt="wego", no-retina="true")
          img(src="images/projects/wego_active.jpg", alt="wego", no-retina="true").project-active-pic
          h2 唯购
          p wego 砍刀会，首推人力股权众筹计划的平台
      li
        a(href="http://ybk.hxce.cn/", target="_blank")
          img(src="images/projects/haixi.jpg", alt="haixi", no-retina="true")
          img(src="images/projects/haixi_active.jpg", alt="haixi", no-retina="true").project-active-pic
          h2 海西邮币卡
          p 由海西商品交易所聚集国内邮币卡界专业团队打造的邮币卡交易平台
      li
        a(href="http://www.fundtown.net/", target="_blank")
          img(src="images/projects/fundtown.jpg", alt="fundtown", no-retina="true")
          img(src="images/projects/fundtown_active.jpg", alt="fundtown", no-retina="true").project-active-pic
          h2 南湖基金小镇
          p 基金小镇网站是一个为投融两端搭建的投融资信息交流平台
      li
        a(href="http://www.hzlyhs.com/", target="_blank")
          img(src="images/projects/eagle.jpg", alt="eagle", no-retina="true")
          img(src="images/projects/eagle_active.jpg", alt="eagle", no-retina="true").project-active-pic
          h2 老鹰画室
          p 中国美术学院五分之一的学生来自老鹰画室
      li
        a(href="http://www.daikin-china.com.cn/", target="_blank")
          img(src="images/projects/daikin.jpg", alt="daikin", no-retina="true")
          img(src="images/projects/daikin_active.jpg", alt="daikin", no-retina="true").project-active-pic
          h2 大金空调
          p 著名全球跨国企业
      li
        a(href="http://www.ejiandai.com/", target="_blank")
          img(src="images/projects/ejiandai.jpg", alt="ejiandai", no-retina="true")
          img(src="images/projects/ejiandai_active.jpg", alt="ejiandai", no-retina="true").project-active-pic
          h2 易简贷
          p 河北省电子商务发展 3 年推进计划重点扶持项目
      li
        a(href="http://www.zhongbaodai.com/", target="_blank")
          img(src="images/projects/zhongbao.jpg", alt="zhongbao", no-retina="true")
          img(src="images/projects/zhongbao_active.jpg", alt="zhongbao", no-retina="true").project-active-pic
          h2 中宝财富
          p 中宝财富首创 P2C + O2O 的经营新模式，是 P2P 网贷的一个新方向
    img(src="images/project_list_end.jpg", alt="", no-retina="true").project-list-end

block footer
  .footer.project-list-footer CopyRight &copy; 2016 抽象科技
    a(href="http://www.miitbeian.gov.cn/") 浙ICP备13028152号-3
