extends layout

block content
  .gradient-header-fix
    img(src="images/viewpoint_header.png", alt="")
  .container
    .viewpoint-item
      .viewpoint-item-tools
        .viewpoint-item-pic
        .fish
      h2 工具
      p 从石器时代开始，人类就通过不断创造工具来摆脱对身体在生产中的依赖，进而提升生产效率，同时完成了进化。我们在信息时代也反复进行这一创造过程，致力于生产力的提升。
    .viewpoint-item
      .viewpoint-item-ue
        .viewpoint-item-pic
        .sword
      h2 用户体验
      p 通常情景下，诸如产品经理与设计师，设计师与程序员，生产者与用户等，存在对产品理解的差异与矛盾，我们致力于通过团队的紧密配合，在交付之前努力将产品中各层面的膈应和拧巴打磨成各种人眼中最舒适的状态。
    .viewpoint-item
      .viewpoint-item-delivery
        .viewpoint-item-pic
        .material
        .diamond
      h2 持续交付
      p 不合理的软件生产过程带来的开销是双向的，并导致软件产品质量低下。我们使用测试驱动的开发方式来保证代码质量，通过完善的部署流水线将产品持续交付到生产环境。

block footer
  .footer.viewpoint-footer CopyRight &copy; 2016 抽象科技
    a(href="http://www.miitbeian.gov.cn/") 浙ICP备13028152号-3
