/*尺寸配置*/
/*颜色表*/
html {
  font-family: "Arial", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", "sans-serif";
}
body {
  margin: 0;
}
/*工具样式*/
.clearfix:after,
.clearfix:before {
  content: '';
  display: table;
  clear: both;
}
.pos-center {
  margin-left: auto;
  margin-right: auto;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
}
.in-making {
  margin: 100px auto;
  height: 407px;
  background-image: url(../images/in_making.png);
  background-repeat: no-repeat;
  background-position: center center;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .in-making {
    background-image: url(../images/in_making@2x.png);
    background-size: 480px 407px;
  }
}
.not-found-elephant {
  margin: 120px auto;
  height: 558px;
  background-image: url(../images/404.png);
  background-repeat: no-repeat;
  background-position: center center;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .not-found-elephant {
    background-image: url(../images/404@2x.png);
    background-size: 492px 558px;
  }
}
/*头部*/
.header {
  position: relative;
  z-index: 1;
}
.header:after,
.header:before {
  content: '';
  display: table;
  clear: both;
}
.header .logo {
  float: left;
  margin-top: 33.33333333px;
  margin-bottom: -33.33333333px;
  width: 100px;
  height: 100px;
  background-color: #fff;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.header .logo img {
  margin-top: 5px;
  margin-left: -8px;
  display: block;
  width: 100%;
  pointer-events: none;
}
.header .navbar-container {
  margin-left: 200px;
  padding-bottom: 10px;
  overflow: hidden;
}
.header .navbar-container .navbar {
  list-style: none;
  margin: 45px 0 0;
  padding: 0;
  float: right;
}
.header .navbar-container .navbar li {
  float: left;
  margin: 0 25px;
}
.header .navbar-container .navbar li:hover a {
  color: #eb7d7c;
}
.header .navbar-container .navbar li a {
  display: block;
  width: 70px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  font-size: 20px;
  color: #44494F;
  text-decoration: none;
}
.header .navbar-container .navbar li.active {
  position: relative;
}
.header .navbar-container .navbar li.active:before,
.header .navbar-container .navbar li.active:after {
  content: '';
  position: absolute;
  display: block;
  margin-top: -1px;
  top: 100%;
  width: 800px;
  height: 1px;
  background-color: #D6D6D6;
}
.header .navbar-container .navbar li.active:before {
  right: 100%;
}
.header .navbar-container .navbar li.active:after {
  left: 100%;
}
.header .navbar-container .navbar li.active a {
  color: #eb7d7c;
}
.header .navbar-container .navbar li.active a:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: -10px;
  display: block;
  background-image: url(../images/navbar_active.png);
  background-repeat: no-repeat;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .header .navbar-container .navbar li.active a:after {
    background-image: url(../images/navbar_active@2x.png);
    background-size: 70px 65px;
  }
}
.gradient-header-fix:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 147px;
  background: url('../images/gradient_header_bg.png') repeat-x left top;
}
.gradient-header-fix *:first-child {
  margin-top: -110px;
}
.gradient-header-fix img {
  margin-bottom: 50px;
  width: 100%;
  min-width: 1000px;
  pointer-events: none;
}
/*版权部分*/
.footer {
  padding: 20px 0;
  text-align: center;
  font-size: 14px;
  line-height: 14px;
  color: #666;
}
.footer a {
  margin: 0 3px;
  display: inline-block;
  color: #666;
  text-decoration: none;
}
.footer a:hover {
  color: #e45755;
  text-decoration: underline;
}
.project-list-footer {
  padding: 80px 0 20px;
  color: #fff;
  background-color: #2E343A;
}
.project-list-footer a {
  color: #fff;
}
.viewpoint-footer {
  margin-top: 80px;
  padding: 150px 0 20px;
  color: #fff;
  background-image: url(../images/viewpoint_footer_bg.png);
  background-repeat: repeat-x;
  background-color: #3C4147;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .viewpoint-footer {
    background-image: url(../images/viewpoint_footer_bg@2x.png);
    background-size: 1366px 63px;
  }
}
.viewpoint-footer a {
  color: #fff;
}
/*首页*/
.homepage-container {
  margin-bottom: 60px;
  border-bottom: 4px solid #e45755;
}
.homepage-container:after,
.homepage-container:before {
  content: '';
  display: table;
  clear: both;
}
.homepage-container .soldier,
.homepage-container .abstack-text,
.homepage-container .elephant {
  float: left;
  margin-bottom: -2px;
}
.homepage-container .soldier {
  width: 160px;
  height: 600px;
  background-image: url(../images/soldier.png);
  background-repeat: no-repeat;
  background-position: center bottom;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .homepage-container .soldier {
    background-image: url(../images/soldier@2x.png);
    background-size: 68px 104px;
  }
}
.homepage-container .abstack-text {
  width: 340px;
  height: 600px;
  background-image: url(../images/abstack_name.png);
  background-repeat: no-repeat;
  background-position: center center;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .homepage-container .abstack-text {
    background-image: url(../images/abstack_name@2x.png);
    background-size: 287px 354px;
  }
}
.homepage-container .elephant {
  width: 500px;
  height: 600px;
  background-image: url(../images/elephant_machine.png);
  background-repeat: no-repeat;
  background-position: center bottom;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .homepage-container .elephant {
    background-image: url(../images/elephant_machine@2x.png);
    background-size: 492px 255px;
  }
}
.homepage-container .skyline {
  margin-top: -16px;
  margin-bottom: -4px;
  height: 20px;
  background-image: url(../images/skyline.png);
  background-repeat: no-repeat;
  background-color: #fff;
  background-position: center bottom;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .homepage-container .skyline {
    background-image: url(../images/skyline@2x.png);
    background-size: 1366px 19px;
  }
}
/*项目页面*/
.project-list-start {
  margin-top: 60px;
}
.project-list-start,
.project-list-end {
  display: block;
  max-width: 100%;
  pointer-events: none;
}
.project-list {
  list-style: none;
  margin: 50px 0 0;
  padding: 0;
}
.project-list:after,
.project-list:before {
  content: '';
  display: table;
  clear: both;
}
.project-list li {
  float: left;
  width: 50%;
  text-align: center;
}
.project-list li a {
  display: block;
  margin: 0 20px 50px;
  text-decoration: none;
}
.project-list li a img {
  max-width: 100%;
  pointer-events: none;
}
.project-list li a h2 {
  margin: 20px 0 10px;
  color: #333333;
  font-size: 20px;
  line-height: 20px;
  font-weight: normal;
  -webkit-transition: color 0.2s;
  -o-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -ms-transition: color 0.2s;
  transition: color 0.2s;
}
.project-list li a p {
  margin: 10px 0;
  height: 36px;
  color: #999999;
  font-size: 14px;
  line-height: 18px;
}
.project-list li a:hover h2 {
  color: #e45755;
}
/*观点样式*/
.viewpoint-item {
  margin: 30px 50px;
  height: 300px;
}
.viewpoint-item h2 {
  margin: 0 0 10px;
  color: #646464;
  font-size: 28px;
  line-height: 28px;
  font-weight: normal;
}
.viewpoint-item p {
  font-size: 14px;
  line-height: 22px;
  color: #666666;
}
.viewpoint-item.tools {
  padding-right: 380px;
  background: url('../images/viewpoint_tools.png') no-repeat right center;
  background-size: auto 100%;
}
.viewpoint-item.tools h2 {
  padding-top: 90px;
}
.viewpoint-item.ue {
  padding-left: 420px;
  background: url('../images/viewpoint_ue.png') no-repeat left center;
  background-size: auto 100%;
}
.viewpoint-item.ue h2 {
  padding-top: 120px;
}
.viewpoint-item.delivery {
  padding-right: 460px;
  background: url('../images/viewpoint_delivery.png') no-repeat right center;
  background-size: auto 100%;
}
.viewpoint-item.delivery h2 {
  padding-top: 120px;
}
/*函数类工具*/
/*圆角*/
/*透明度*/
/*过渡*/
/*变换*/
/*盒子阴影*/
/*retina 图片背景(代码来源：https://gist.github.com/brandonb927/3874012)*/
