/*尺寸配置*/
/*颜色表*/
html {
  font-family: "Arial", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", "sans-serif";
}
body {
  margin: 0;
}
/*工具样式*/
.clearfix:after,
.clearfix:before {
  content: '';
  display: table;
  clear: both;
}
.pos-center {
  margin-left: auto;
  margin-right: auto;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
}
.in-making {
  margin: 100px auto;
  height: 407px;
  background-image: url(../images/in_making.png);
  background-repeat: no-repeat;
  background-position: center center;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .in-making {
    background-image: url(../images/in_making@2x.png);
    background-size: 480px 407px;
  }
}
.not-found-elephant {
  margin: 120px auto;
  height: 558px;
  background-image: url(../images/404.png);
  background-repeat: no-repeat;
  background-position: center center;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .not-found-elephant {
    background-image: url(../images/404@2x.png);
    background-size: 492px 558px;
  }
}
/*头部*/
.header {
  position: relative;
  z-index: 2;
  -webkit-transition: visibility .3s, opacity .3s;
  -o-transition: visibility .3s, opacity .3s;
  -moz-transition: visibility .3s, opacity .3s;
  -ms-transition: visibility .3s, opacity .3s;
  transition: visibility .3s, opacity .3s;
}
.header:after,
.header:before {
  content: '';
  display: table;
  clear: both;
}
.header.hide {
  visibility: hidden;
  opacity: 0;
  filter: alpha(opacity=0);
}
.header .logo-container {
  position: fixed;
  z-index: 10;
  top: 36px;
  width: 108px;
  height: 108px;
}
.header .logo-container.flipped .back {
  -webkit-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
.header .logo-container.flipped .front {
  -webkit-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  transform: rotateX(180deg);
}
.header .logo-container .front,
.header .logo-container .back {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  -webkit-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: ease-in-out 0.3s;
  -o-transition: ease-in-out 0.3s;
  -moz-transition: ease-in-out 0.3s;
  -ms-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}
.header .logo-container .front .logo {
  margin-top: 5px;
  margin-left: -8px;
  display: block;
  width: 107px;
  height: 70px;
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .header .logo-container .front .logo {
    background-image: url(../images/logo@2x.png);
    background-size: 107px 70px;
  }
}
.header .logo-container .back {
  -webkit-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  transform: rotateX(180deg);
  background-image: url(../images/scroll_top_icon.png);
  background-repeat: no-repeat;
  background-position: center center;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .header .logo-container .back {
    background-image: url(../images/scroll_top_icon@2x.png);
    background-size: 56px 57px;
  }
}
.header .navbar-container {
  margin-left: 200px;
  padding-bottom: 10px;
  overflow: hidden;
}
.header .navbar-container .navbar {
  list-style: none;
  margin: 45px 0 0;
  padding: 0;
  float: right;
}
.header .navbar-container .navbar li {
  float: left;
  margin: 0 25px;
}
.header .navbar-container .navbar li:hover a {
  color: #eb7d7c;
}
.header .navbar-container .navbar li a {
  display: block;
  width: 70px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  font-size: 20px;
  color: #44494F;
  text-decoration: none;
}
.header .navbar-container .navbar li.active {
  position: relative;
}
.header .navbar-container .navbar li.active:before,
.header .navbar-container .navbar li.active:after {
  content: '';
  position: absolute;
  display: block;
  margin-top: -1px;
  top: 100%;
  width: 800px;
  height: 1px;
  background-color: #D6D6D6;
}
.header .navbar-container .navbar li.active:before {
  right: 100%;
}
.header .navbar-container .navbar li.active:after {
  left: 100%;
}
.header .navbar-container .navbar li.active a {
  color: #eb7d7c;
}
.header .navbar-container .navbar li.active a:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: -10px;
  display: block;
  background-image: url(../images/navbar_active.png);
  background-repeat: no-repeat;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .header .navbar-container .navbar li.active a:after {
    background-image: url(../images/navbar_active@2x.png);
    background-size: 70px 65px;
  }
}
.gradient-header-fix:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 147px;
  background: url('../images/gradient_header_bg.png') repeat-x left top;
}
.gradient-header-fix > *:first-child {
  margin-top: -110px;
}
.gradient-header-fix img {
  margin-bottom: 50px;
  width: 100%;
  min-width: 1000px;
  pointer-events: none;
}
/*版权部分*/
.footer {
  padding: 20px 0;
  text-align: center;
  font-size: 14px;
  line-height: 14px;
  color: #666;
}
.footer a {
  margin: 0 3px;
  display: inline-block;
  color: #666;
  text-decoration: none;
}
.footer a:hover {
  color: #e45755;
  text-decoration: underline;
}
.project-list-footer {
  padding: 80px 0 20px;
  color: #fff;
  background-color: #2E343A;
}
.project-list-footer a {
  color: #fff;
}
.viewpoint-footer {
  margin-top: 80px;
  padding: 150px 0 20px;
  color: #fff;
  background-image: url(../images/viewpoint_footer_bg.png);
  background-repeat: repeat-x;
  background-color: #3C4147;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .viewpoint-footer {
    background-image: url(../images/viewpoint_footer_bg@2x.png);
    background-size: 1366px 63px;
  }
}
.viewpoint-footer a {
  color: #fff;
}
.about-footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 40px 0;
  color: #A3A3A4;
  background-color: #D5D6D8;
}
.about-footer a {
  color: #A3A3A4;
}
/*首页*/
.homepage-container {
  margin-bottom: 60px;
  border-bottom: 4px solid #e45755;
}
.homepage-container:after,
.homepage-container:before {
  content: '';
  display: table;
  clear: both;
}
.homepage-container .soldier,
.homepage-container .abstack-text,
.homepage-container .elephant {
  float: left;
  margin-bottom: -2px;
}
.homepage-container .soldier {
  width: 160px;
  height: 600px;
  background-image: url(../images/soldier.png);
  background-repeat: no-repeat;
  background-position: center bottom;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .homepage-container .soldier {
    background-image: url(../images/soldier@2x.png);
    background-size: 68px 104px;
  }
}
.homepage-container .abstack-text {
  position: relative;
  width: 340px;
  height: 600px;
}
.homepage-container .abstack-text.flipped .back {
  -webkit-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
.homepage-container .abstack-text.flipped .front {
  -webkit-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.homepage-container .abstack-text:hover .back {
  -webkit-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.homepage-container .abstack-text:hover .front {
  -webkit-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
.homepage-container .abstack-text .front,
.homepage-container .abstack-text .back {
  position: absolute;
  top: 50px;
  left: 50%;
  -webkit-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.7s;
  -o-transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.7s;
  -moz-transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.7s;
  -ms-transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.7s;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.7s;
}
.homepage-container .abstack-text .front {
  margin-left: -143px;
  width: 287px;
  height: 354px;
  background-image: url(../images/abstack_name.png);
  background-repeat: no-repeat;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .homepage-container .abstack-text .front {
    background-image: url(../images/abstack_name@2x.png);
    background-size: 287px 354px;
  }
}
.homepage-container .abstack-text .front .front-line-1,
.homepage-container .abstack-text .front .front-line-2,
.homepage-container .abstack-text .front .front-line-3,
.homepage-container .abstack-text .front .front-line-4,
.homepage-container .abstack-text .front .front-line-5,
.homepage-container .abstack-text .front .front-line-6 {
  position: absolute;
  background-color: #2e343b;
}
.homepage-container .abstack-text .front .front-line-1 {
  top: 64px;
  left: 90px;
  width: 37px;
  height: 5px;
  -webkit-animation: 0.2s ease-out name-line-1;
  -o-animation: 0.2s ease-out name-line-1;
  -moz-animation: 0.2s ease-out name-line-1;
  -ms-animation: 0.2s ease-out name-line-1;
  animation: 0.2s ease-out name-line-1;
}
.homepage-container .abstack-text .front .front-line-2 {
  top: 69px;
  left: 122px;
  width: 5px;
  height: 49px;
  -webkit-animation: 0.4s ease-out name-line-2;
  -o-animation: 0.4s ease-out name-line-2;
  -moz-animation: 0.4s ease-out name-line-2;
  -ms-animation: 0.4s ease-out name-line-2;
  animation: 0.4s ease-out name-line-2;
}
.homepage-container .abstack-text .front .front-line-3 {
  top: 113px;
  right: 165px;
  width: 17px;
  height: 5px;
  -webkit-animation: 0.5s ease-out name-line-3;
  -o-animation: 0.5s ease-out name-line-3;
  -moz-animation: 0.5s ease-out name-line-3;
  -ms-animation: 0.5s ease-out name-line-3;
  animation: 0.5s ease-out name-line-3;
}
.homepage-container .abstack-text .front .front-line-4 {
  top: 118px;
  left: 105px;
  width: 5px;
  height: 120px;
  -webkit-animation: 1.2s ease-out name-line-4;
  -o-animation: 1.2s ease-out name-line-4;
  -moz-animation: 1.2s ease-out name-line-4;
  -ms-animation: 1.2s ease-out name-line-4;
  animation: 1.2s ease-out name-line-4;
}
.homepage-container .abstack-text .front .front-line-5 {
  top: 233px;
  left: 110px;
  width: 51px;
  height: 5px;
  -webkit-animation: 1.8s ease-out name-line-5;
  -o-animation: 1.8s ease-out name-line-5;
  -moz-animation: 1.8s ease-out name-line-5;
  -ms-animation: 1.8s ease-out name-line-5;
  animation: 1.8s ease-out name-line-5;
}
.homepage-container .abstack-text .front .front-line-6 {
  top: 109px;
  left: 259px;
  width: 14px;
  height: 8px;
  -webkit-animation: 2.4s ease-out name-line-6;
  -o-animation: 2.4s ease-out name-line-6;
  -moz-animation: 2.4s ease-out name-line-6;
  -ms-animation: 2.4s ease-out name-line-6;
  animation: 2.4s ease-out name-line-6;
}
.homepage-container .abstack-text .back {
  margin-left: -133px;
  width: 265px;
  height: 355px;
  -webkit-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
  background-image: url(../images/slogan.png);
  background-repeat: no-repeat;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .homepage-container .abstack-text .back {
    background-image: url(../images/slogan@2x.png);
    background-size: 265px 355px;
  }
}
.homepage-container .elephant {
  width: 500px;
  height: 600px;
  background-image: url(../images/elephant_machine.png);
  background-repeat: no-repeat;
  background-position: center bottom;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .homepage-container .elephant {
    background-image: url(../images/elephant_machine@2x.png);
    background-size: 492px 255px;
  }
}
.homepage-container .skyline {
  margin-top: -16px;
  margin-bottom: -4px;
  height: 20px;
  background-image: url(../images/skyline.png);
  background-repeat: no-repeat;
  background-color: #fff;
  background-position: center bottom;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .homepage-container .skyline {
    background-image: url(../images/skyline@2x.png);
    background-size: 1366px 19px;
  }
}
/*项目页面*/
.project-list-start {
  margin-top: 60px;
}
.project-list-start,
.project-list-end {
  display: block;
  max-width: 100%;
  pointer-events: none;
}
.project-list {
  list-style: none;
  margin: 50px 0 0;
  padding: 0;
}
.project-list:after,
.project-list:before {
  content: '';
  display: table;
  clear: both;
}
.project-list li {
  float: left;
  width: 50%;
  text-align: center;
}
.project-list li a {
  display: block;
  margin: 0 20px 50px;
  text-decoration: none;
}
.project-list li a img {
  max-width: 100%;
  pointer-events: none;
}
.project-list li a h2 {
  margin: 20px 0 10px;
  color: #333333;
  font-size: 20px;
  line-height: 20px;
  font-weight: normal;
  -webkit-transition: color 0.2s;
  -o-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -ms-transition: color 0.2s;
  transition: color 0.2s;
}
.project-list li a p {
  margin: 10px 0;
  height: 36px;
  color: #999999;
  font-size: 14px;
  line-height: 18px;
}
.project-list li a:hover h2 {
  color: #e45755;
}
/*观点样式*/
.viewpoint-item {
  margin: 30px 50px;
}
.viewpoint-item:after,
.viewpoint-item:before {
  content: '';
  display: table;
  clear: both;
}
.viewpoint-item h2 {
  margin: 0 0 35px;
  color: #646464;
  font-size: 36px;
  line-height: 28px;
  font-weight: normal;
}
.viewpoint-item p {
  font-size: 18px;
  line-height: 30px;
  color: #666666;
}
.viewpoint-item .viewpoint-item-tools {
  float: right;
  position: relative;
  margin-left: 20px;
}
.viewpoint-item .viewpoint-item-tools .viewpoint-item-pic {
  position: relative;
  z-index: 1;
  width: 483px;
  height: 477px;
  background-image: url(../images/viewpoint_tools.png);
  background-repeat: no-repeat;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .viewpoint-item .viewpoint-item-tools .viewpoint-item-pic {
    background-image: url(../images/viewpoint_tools@2x.png);
    background-size: 483px 477px;
  }
}
.viewpoint-item .viewpoint-item-tools .fish {
  position: absolute;
  top: 60px;
  right: -60px;
  width: 109px;
  height: 117px;
  -webkit-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-animation: fish-shake cubic-bezier(0.645, 0.045, 0.355, 1) infinite alternate 2s;
  -o-animation: fish-shake cubic-bezier(0.645, 0.045, 0.355, 1) infinite alternate 2s;
  -moz-animation: fish-shake cubic-bezier(0.645, 0.045, 0.355, 1) infinite alternate 2s;
  -ms-animation: fish-shake cubic-bezier(0.645, 0.045, 0.355, 1) infinite alternate 2s;
  animation: fish-shake cubic-bezier(0.645, 0.045, 0.355, 1) infinite alternate 2s;
  background-image: url(../images/viewpoint_fish.png);
  background-repeat: no-repeat;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .viewpoint-item .viewpoint-item-tools .fish {
    background-image: url(../images/viewpoint_fish@2x.png);
    background-size: 109px 117px;
  }
}
.viewpoint-item .viewpoint-item-tools + h2 {
  padding-top: 150px;
}
.viewpoint-item .viewpoint-item-ue {
  position: relative;
  float: left;
  margin-right: 160px;
}
.viewpoint-item .viewpoint-item-ue .viewpoint-item-pic {
  position: relative;
  z-index: 1;
  width: 466px;
  height: 475px;
  background-image: url(../images/viewpoint_ue.png);
  background-repeat: no-repeat;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .viewpoint-item .viewpoint-item-ue .viewpoint-item-pic {
    background-image: url(../images/viewpoint_ue@2x.png);
    background-size: 466px 475px;
  }
}
.viewpoint-item .viewpoint-item-ue .sword {
  position: absolute;
  top: 123px;
  right: -142px;
  width: 317px;
  height: 124px;
  -webkit-transform-origin: left bottom;
  -o-transform-origin: left bottom;
  -moz-transform-origin: left bottom;
  -ms-transform-origin: left bottom;
  transform-origin: left bottom;
  -webkit-animation: sword-wave cubic-bezier(0.77, 0, 0.175, 1) infinite alternate 1.6s;
  -o-animation: sword-wave cubic-bezier(0.77, 0, 0.175, 1) infinite alternate 1.6s;
  -moz-animation: sword-wave cubic-bezier(0.77, 0, 0.175, 1) infinite alternate 1.6s;
  -ms-animation: sword-wave cubic-bezier(0.77, 0, 0.175, 1) infinite alternate 1.6s;
  animation: sword-wave cubic-bezier(0.77, 0, 0.175, 1) infinite alternate 1.6s;
  background-image: url(../images/viewpoint_sword.png);
  background-repeat: no-repeat;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .viewpoint-item .viewpoint-item-ue .sword {
    background-image: url(../images/viewpoint_sword@2x.png);
    background-size: 317px 124px;
  }
}
.viewpoint-item .viewpoint-item-ue + h2 {
  padding-top: 120px;
}
.viewpoint-item .viewpoint-item-delivery {
  position: relative;
  float: right;
  margin-left: 20px;
}
.viewpoint-item .viewpoint-item-delivery .viewpoint-item-pic {
  position: relative;
  z-index: 1;
  width: 570px;
  height: 382px;
  background-image: url(../images/viewpoint_delivery.png);
  background-repeat: no-repeat;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .viewpoint-item .viewpoint-item-delivery .viewpoint-item-pic {
    background-image: url(../images/viewpoint_delivery@2x.png);
    background-size: 570px 382px;
  }
}
.viewpoint-item .viewpoint-item-delivery .material {
  position: absolute;
  top: 211px;
  left: 160px;
  width: 58px;
  height: 62px;
  -webkit-animation: material-transport linear 6s infinite;
  -o-animation: material-transport linear 6s infinite;
  -moz-animation: material-transport linear 6s infinite;
  -ms-animation: material-transport linear 6s infinite;
  animation: material-transport linear 6s infinite;
  background-image: url(../images/viewpoint_material.png);
  background-repeat: no-repeat;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .viewpoint-item .viewpoint-item-delivery .material {
    background-image: url(../images/viewpoint_material@2x.png);
    background-size: 58px 62px;
  }
}
.viewpoint-item .viewpoint-item-delivery .diamond {
  position: absolute;
  top: 20px;
  right: 98px;
  width: 35px;
  height: 38px;
  -webkit-animation: diamond-producing linear 6s infinite;
  -o-animation: diamond-producing linear 6s infinite;
  -moz-animation: diamond-producing linear 6s infinite;
  -ms-animation: diamond-producing linear 6s infinite;
  animation: diamond-producing linear 6s infinite;
  background-image: url(../images/viewpoint_diamond.png);
  background-repeat: no-repeat;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .viewpoint-item .viewpoint-item-delivery .diamond {
    background-image: url(../images/viewpoint_diamond@2x.png);
    background-size: 35px 38px;
  }
}
.viewpoint-item .viewpoint-item-delivery + h2 {
  padding-top: 100px;
}
/*关于我们*/
#about-scroll-container h2 {
  font-size: 36px;
  line-height: 36px;
}
#about-scroll-container > section:after,
#about-scroll-container > section:before {
  content: '';
  display: table;
  clear: both;
}
#about-scroll-container .about-scroll-overview {
  background: url('../images/about_header_bg.jpg') center top no-repeat;
  background-size: auto 100%;
}
#about-scroll-container .about-scroll-overview .about-overview-container {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: -50px;
  padding: 20px 0;
  background-color: rgba(255, 255, 255, 0.8);
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity .6s .3s, margin-top .6s .3s;
  -o-transition: opacity .6s .3s, margin-top .6s .3s;
  -moz-transition: opacity .6s .3s, margin-top .6s .3s;
  -ms-transition: opacity .6s .3s, margin-top .6s .3s;
  transition: opacity .6s .3s, margin-top .6s .3s;
}
#about-scroll-container .about-scroll-overview .about-overview-container h2 {
  margin: 0 80px 0 20px;
  float: left;
  height: 80px;
  color: #e45755;
}
#about-scroll-container .about-scroll-overview .about-overview-container p {
  font-size: 16px;
  color: #666;
  line-height: 22px;
}
#about-scroll-container .about-scroll-overview .about-overview-container h2,
#about-scroll-container .about-scroll-overview .about-overview-container p {
  position: relative;
  top: 10px;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity .5s .8s, top .5s .8s;
  -o-transition: opacity .5s .8s, top .5s .8s;
  -moz-transition: opacity .5s .8s, top .5s .8s;
  -ms-transition: opacity .5s .8s, top .5s .8s;
  transition: opacity .5s .8s, top .5s .8s;
}
#about-scroll-container .about-scroll-overview.ops-section.active .about-overview-container {
  margin-top: -60px;
  opacity: 1;
  filter: alpha(opacity=100);
}
#about-scroll-container .about-scroll-overview.ops-section.active .about-overview-container h2,
#about-scroll-container .about-scroll-overview.ops-section.active .about-overview-container p {
  top: 0px;
  opacity: 1;
  filter: alpha(opacity=100);
}
#about-scroll-container .about-scroll-team h2 {
  color: #666666;
}
#about-scroll-container .about-scroll-team .team-item {
  position: relative;
  top: 60px;
  float: left;
  cursor: pointer;
  -webkit-transition: background 0.3s;
  -o-transition: background 0.3s;
  -moz-transition: background 0.3s;
  -ms-transition: background 0.3s;
  transition: background 0.3s;
  background-image: url(../images/about_team.png);
  background-repeat: no-repeat;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #about-scroll-container .about-scroll-team .team-item {
    background-image: url(../images/about_team@2x.png);
    background-size: 1642px 374px;
  }
}
#about-scroll-container .about-scroll-team .team-item:hover {
  z-index: 1;
  background-image: url(../images/about_team_active.png);
  background-repeat: no-repeat;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #about-scroll-container .about-scroll-team .team-item:hover {
    background-image: url(../images/about_team_active@2x.png);
    background-size: 1642px 374px;
  }
}
#about-scroll-container .about-scroll-team .team-item:hover .team-item-intro {
  bottom: 103%;
  opacity: 1;
  filter: alpha(opacity=100);
  visibility: visible;
}
#about-scroll-container .about-scroll-team .team-item.member-1 {
  margin-top: 100px;
  width: 100px;
  height: 369px;
  background-position: 0 -5px;
}
#about-scroll-container .about-scroll-team .team-item.member-2 {
  margin-top: 105px;
  margin-left: -15px;
  width: 95px;
  height: 309px;
  background-position: -129px -65px;
}
#about-scroll-container .about-scroll-team .team-item.member-3 {
  margin-top: 140px;
  margin-left: -20px;
  width: 103px;
  height: 332px;
  background-position: -253px -42px;
}
#about-scroll-container .about-scroll-team .team-item.member-4 {
  margin-top: 110px;
  margin-left: -12px;
  width: 130px;
  height: 337px;
  background-position: -385px -37px;
}
#about-scroll-container .about-scroll-team .team-item.member-5 {
  margin-top: 35px;
  margin-left: -35px;
  width: 98px;
  height: 313px;
  background-position: -544px -61px;
}
#about-scroll-container .about-scroll-team .team-item.member-6 {
  margin-top: 115px;
  margin-left: -33px;
  width: 111px;
  height: 359px;
  background-position: -671px -15px;
}
#about-scroll-container .about-scroll-team .team-item.member-7 {
  margin-top: 125px;
  margin-left: -15px;
  width: 109px;
  height: 357px;
  background-position: -811px -17px;
}
#about-scroll-container .about-scroll-team .team-item.member-8 {
  margin-top: 12px;
  margin-left: -52px;
  width: 102px;
  height: 358px;
  background-position: -949px -16px;
}
#about-scroll-container .about-scroll-team .team-item.member-9 {
  margin-top: 130px;
  margin-left: -38px;
  width: 100px;
  height: 371px;
  background-position: -1080px -3px;
}
#about-scroll-container .about-scroll-team .team-item.member-10 {
  margin-top: 70px;
  margin-left: -29px;
  width: 118px;
  height: 374px;
  background-position: -1209px 0;
}
#about-scroll-container .about-scroll-team .team-item.member-11 {
  margin-top: 0px;
  margin-left: -46px;
  width: 125px;
  height: 349px;
  background-position: -1356px -25px;
}
#about-scroll-container .about-scroll-team .team-item.member-12 {
  margin-top: 100px;
  margin-left: -29px;
  width: 132px;
  height: 361px;
  background-position: -1510px -13px;
}
#about-scroll-container .about-scroll-team .team-item .team-item-intro {
  position: absolute;
  left: 0;
  bottom: 100%;
  width: 140px;
  padding: 10px;
  color: #eb7d7c;
  background-color: #fff;
  border: 2px solid #e45755;
  visibility: hidden;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: visibility .3s, bottom .3s;
  -o-transition: visibility .3s, bottom .3s;
  -moz-transition: visibility .3s, bottom .3s;
  -ms-transition: visibility .3s, bottom .3s;
  transition: visibility .3s, bottom .3s;
}
#about-scroll-container .about-scroll-team .team-item .team-item-intro:before,
#about-scroll-container .about-scroll-team .team-item .team-item-intro:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 40px;
  display: block;
  width: 0;
  height: 0;
}
#about-scroll-container .about-scroll-team .team-item .team-item-intro:before {
  border: 10px solid transparent;
  border-top-color: #e45755;
}
#about-scroll-container .about-scroll-team .team-item .team-item-intro:after {
  margin-left: 4px;
  border: 6px solid transparent;
  border-top-color: #fff;
}
#about-scroll-container .about-scroll-team .team-item .team-item-intro h3 {
  margin: 0 0 5px;
  font-size: 16px;
  line-height: 16px;
}
#about-scroll-container .about-scroll-team .team-item .team-item-intro p {
  margin: 0;
  font-size: 14px;
  line-height: 18px;
}
#about-scroll-container .about-scroll-routes {
  background: url('../images/about_routes_end.png') #2e343b repeat-x center bottom;
}
#about-scroll-container .about-scroll-routes h2 {
  color: #fff;
}
#about-scroll-container .about-scroll-routes .timeline {
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  margin-left: -2px;
  width: 4px;
  height: 100%;
  background-color: #fff;
}
#about-scroll-container .about-scroll-routes .timeline-item {
  position: relative;
  color: #fff;
  margin-top: 40px;
  text-align: center;
}
#about-scroll-container .about-scroll-routes .timeline-item h3 {
  margin: 0 0 10px;
  font-size: 40px;
  line-height: 40px;
}
#about-scroll-container .about-scroll-routes .timeline-item p {
  margin: 0;
  font-size: 18px;
  line-height: 22px;
  color: #ddd;
}
#about-scroll-container .about-scroll-routes .timeline-item.left:after,
#about-scroll-container .about-scroll-routes .timeline-item.right:after {
  content: '';
  position: absolute;
  top: 5px;
  display: block;
  width: 20px;
  height: 20px;
  background-color: #2E343B;
  border: 4px solid #ffffff;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
#about-scroll-container .about-scroll-routes .timeline-item.left {
  margin-right: 50%;
  padding-right: 60px;
  text-align: right;
}
#about-scroll-container .about-scroll-routes .timeline-item.left:after {
  right: -14px;
}
#about-scroll-container .about-scroll-routes .timeline-item.right {
  margin-left: 50%;
  padding-left: 60px;
  text-align: left;
}
#about-scroll-container .about-scroll-routes .timeline-item.right:after {
  left: -14px;
}
#about-scroll-container .about-scroll-routes .timeline-item.big-dot {
  margin-top: 80px;
  margin-bottom: 80px;
}
#about-scroll-container .about-scroll-routes .timeline-item.big-dot:after {
  top: -4px;
  width: 38px;
  height: 38px;
  border-width: 4px;
}
#about-scroll-container .about-scroll-routes .timeline-item.big-dot.left:after {
  right: -23px;
}
#about-scroll-container .about-scroll-routes .timeline-item.big-dot.right:after {
  left: -23px;
}
#about-scroll-container .about-scroll-contact {
  position: relative;
}
#about-scroll-container .about-scroll-contact .container {
  height: 100%;
  background-image: url(../images/about_contact_map.jpg);
  background-repeat: no-repeat;
  background-position: left center;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #about-scroll-container .about-scroll-contact .container {
    background-image: url(../images/about_contact_map@2x.jpg);
    background-size: 460px 485px;
  }
}
#about-scroll-container .about-scroll-contact .container .contact-info {
  padding: 30% 0 0 50px;
  margin-left: 50%;
}
#about-scroll-container .about-scroll-contact .container .contact-info h2 {
  margin: 0 0 15px;
  color: #666;
}
#about-scroll-container .about-scroll-contact .container .contact-info p {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  color: #999;
}
#about-scroll-container .about-scroll-contact .container .contact-info ul {
  margin: 20px 0 0;
  padding-left: 0;
  list-style: none;
}
#about-scroll-container .about-scroll-contact .container .contact-info ul li {
  padding-left: 60px;
  height: 50px;
  line-height: 50px;
  color: #666;
  background-position: 5px center;
}
#about-scroll-container .about-scroll-contact .container .contact-info ul li a {
  color: #666;
  text-decoration: none;
}
#about-scroll-container .about-scroll-contact .container .contact-info ul li a:hover {
  color: #e45755;
  text-decoration: underline;
}
#about-scroll-container .about-scroll-contact .container .contact-info ul li.tel {
  background-image: url(../images/icon_contact_tel.png);
  background-repeat: no-repeat;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #about-scroll-container .about-scroll-contact .container .contact-info ul li.tel {
    background-image: url(../images/icon_contact_tel@2x.png);
    background-size: 25px 25px;
  }
}
#about-scroll-container .about-scroll-contact .container .contact-info ul li.email {
  background-image: url(../images/icon_contact_email.png);
  background-repeat: no-repeat;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #about-scroll-container .about-scroll-contact .container .contact-info ul li.email {
    background-image: url(../images/icon_contact_email@2x.png);
    background-size: 25px 19px;
  }
}
#about-scroll-container .about-scroll-contact .container .contact-info ul li.blog {
  background-image: url(../images/icon_contact_blog.png);
  background-repeat: no-repeat;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #about-scroll-container .about-scroll-contact .container .contact-info ul li.blog {
    background-image: url(../images/icon_contact_blog@2x.png);
    background-size: 25px 25px;
  }
}
#about-scroll-container .about-scroll-contact .container .contact-info ul li.addr {
  background-image: url(../images/icon_contact_addr.png);
  background-repeat: no-repeat;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #about-scroll-container .about-scroll-contact .container .contact-info ul li.addr {
    background-image: url(../images/icon_contact_addr@2x.png);
    background-size: 25px 33px;
  }
}
/*函数类工具*/
/*圆角*/
/*透明度*/
/*过渡*/
/*变换*/
/*变换方式*/
/*变换起点*/
/*动画*/
/*背面显示属性*/
/*盒子阴影*/
/*retina 图片背景(代码来源：https://gist.github.com/brandonb927/3874012)*/
/*keyframe mixin(代码来源：http://codepen.io/zvuc/pen/xvoys)*/
/*keyframes*/
@-moz-keyframes name-line-1 {
  0% {
    width: 0;
  }
  100% {
    width: 37px;
  }
}
@-o-keyframes name-line-1 {
  0% {
    width: 0;
  }
  100% {
    width: 37px;
  }
}
@-ms-keyframes name-line-1 {
  0% {
    width: 0;
  }
  100% {
    width: 37px;
  }
}
@-webkit-keyframes name-line-1 {
  0% {
    width: 0;
  }
  100% {
    width: 37px;
  }
}
@keyframes name-line-1 {
  0% {
    width: 0;
  }
  100% {
    width: 37px;
  }
}
@-moz-keyframes name-line-2 {
  0% {
    height: 0;
  }
  50% {
    height: 0;
  }
  100% {
    height: 49px;
  }
}
@-o-keyframes name-line-2 {
  0% {
    height: 0;
  }
  50% {
    height: 0;
  }
  100% {
    height: 49px;
  }
}
@-ms-keyframes name-line-2 {
  0% {
    height: 0;
  }
  50% {
    height: 0;
  }
  100% {
    height: 49px;
  }
}
@-webkit-keyframes name-line-2 {
  0% {
    height: 0;
  }
  50% {
    height: 0;
  }
  100% {
    height: 49px;
  }
}
@keyframes name-line-2 {
  0% {
    height: 0;
  }
  50% {
    height: 0;
  }
  100% {
    height: 49px;
  }
}
@-moz-keyframes name-line-3 {
  0% {
    width: 0;
  }
  80% {
    width: 0;
  }
  100% {
    width: 17px;
  }
}
@-o-keyframes name-line-3 {
  0% {
    width: 0;
  }
  80% {
    width: 0;
  }
  100% {
    width: 17px;
  }
}
@-ms-keyframes name-line-3 {
  0% {
    width: 0;
  }
  80% {
    width: 0;
  }
  100% {
    width: 17px;
  }
}
@-webkit-keyframes name-line-3 {
  0% {
    width: 0;
  }
  80% {
    width: 0;
  }
  100% {
    width: 17px;
  }
}
@keyframes name-line-3 {
  0% {
    width: 0;
  }
  80% {
    width: 0;
  }
  100% {
    width: 17px;
  }
}
@-moz-keyframes name-line-4 {
  0% {
    height: 0;
  }
  41.6666667% {
    height: 0;
  }
  100% {
    height: 120px;
  }
}
@-o-keyframes name-line-4 {
  0% {
    height: 0;
  }
  41.6666667% {
    height: 0;
  }
  100% {
    height: 120px;
  }
}
@-ms-keyframes name-line-4 {
  0% {
    height: 0;
  }
  41.6666667% {
    height: 0;
  }
  100% {
    height: 120px;
  }
}
@-webkit-keyframes name-line-4 {
  0% {
    height: 0;
  }
  41.6666667% {
    height: 0;
  }
  100% {
    height: 120px;
  }
}
@keyframes name-line-4 {
  0% {
    height: 0;
  }
  41.6666667% {
    height: 0;
  }
  100% {
    height: 120px;
  }
}
@-moz-keyframes name-line-5 {
  0% {
    width: 0;
  }
  66.6666667% {
    width: 0;
  }
  100% {
    width: 51px;
  }
}
@-o-keyframes name-line-5 {
  0% {
    width: 0;
  }
  66.6666667% {
    width: 0;
  }
  100% {
    width: 51px;
  }
}
@-ms-keyframes name-line-5 {
  0% {
    width: 0;
  }
  66.6666667% {
    width: 0;
  }
  100% {
    width: 51px;
  }
}
@-webkit-keyframes name-line-5 {
  0% {
    width: 0;
  }
  66.6666667% {
    width: 0;
  }
  100% {
    width: 51px;
  }
}
@keyframes name-line-5 {
  0% {
    width: 0;
  }
  66.6666667% {
    width: 0;
  }
  100% {
    width: 51px;
  }
}
@-moz-keyframes name-line-6 {
  0% {
    width: 0;
  }
  75% {
    width: 0;
  }
  100% {
    width: 14px;
  }
}
@-o-keyframes name-line-6 {
  0% {
    width: 0;
  }
  75% {
    width: 0;
  }
  100% {
    width: 14px;
  }
}
@-ms-keyframes name-line-6 {
  0% {
    width: 0;
  }
  75% {
    width: 0;
  }
  100% {
    width: 14px;
  }
}
@-webkit-keyframes name-line-6 {
  0% {
    width: 0;
  }
  75% {
    width: 0;
  }
  100% {
    width: 14px;
  }
}
@keyframes name-line-6 {
  0% {
    width: 0;
  }
  75% {
    width: 0;
  }
  100% {
    width: 14px;
  }
}
@-moz-keyframes fish-shake {
  0% {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
  }
}
@-o-keyframes fish-shake {
  0% {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
  }
}
@-ms-keyframes fish-shake {
  0% {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
  }
}
@-webkit-keyframes fish-shake {
  0% {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
  }
}
@keyframes fish-shake {
  0% {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
  }
}
@-moz-keyframes sword-wave {
  0% {
    -webkit-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@-o-keyframes sword-wave {
  0% {
    -webkit-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@-ms-keyframes sword-wave {
  0% {
    -webkit-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@-webkit-keyframes sword-wave {
  0% {
    -webkit-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@keyframes sword-wave {
  0% {
    -webkit-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@-moz-keyframes material-transport {
  0% {
    top: 211px;
    left: 160px;
  }
  66.6666% {
    top: 120px;
    left: 426px;
  }
  100% {
    top: 120px;
    left: 426px;
  }
}
@-o-keyframes material-transport {
  0% {
    top: 211px;
    left: 160px;
  }
  66.6666% {
    top: 120px;
    left: 426px;
  }
  100% {
    top: 120px;
    left: 426px;
  }
}
@-ms-keyframes material-transport {
  0% {
    top: 211px;
    left: 160px;
  }
  66.6666% {
    top: 120px;
    left: 426px;
  }
  100% {
    top: 120px;
    left: 426px;
  }
}
@-webkit-keyframes material-transport {
  0% {
    top: 211px;
    left: 160px;
  }
  66.6666% {
    top: 120px;
    left: 426px;
  }
  100% {
    top: 120px;
    left: 426px;
  }
}
@keyframes material-transport {
  0% {
    top: 211px;
    left: 160px;
  }
  66.6666% {
    top: 120px;
    left: 426px;
  }
  100% {
    top: 120px;
    left: 426px;
  }
}
@-moz-keyframes diamond-producing {
  0% {
    top: 20px;
  }
  10% {
    top: 25px;
  }
  20% {
    top: 20px;
  }
  30% {
    top: 25px;
  }
  40% {
    top: 20px;
  }
  50% {
    top: 25px;
  }
  66.6666% {
    top: 20px;
    right: 98px;
    width: 35px;
    height: 38px;
    background-image: url(../images/viewpoint_diamond.png);
    background-repeat: no-repeat;
  }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    66.6666% {
      background-image: url(../images/viewpoint_diamond@2x.png);
      background-size: 35px 38px;
    }
  }
  70% {
    top: 10px;
    right: 82px;
    width: 51px;
    height: 57px;
    background-image: url(../images/viewpoint_diamond_active.png);
    background-repeat: no-repeat;
  }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    70% {
      background-image: url(../images/viewpoint_diamond_active@2x.png);
      background-size: 51px 57px;
    }
  }
  80% {
    top: 20px;
  }
  90% {
    top: 10px;
  }
  100% {
    top: 15px;
    right: 82px;
    width: 51px;
    height: 57px;
    background-image: url(../images/viewpoint_diamond_active.png);
    background-repeat: no-repeat;
  }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    100% {
      background-image: url(../images/viewpoint_diamond_active@2x.png);
      background-size: 51px 57px;
    }
  }
}
@-o-keyframes diamond-producing {
  0% {
    top: 20px;
  }
  10% {
    top: 25px;
  }
  20% {
    top: 20px;
  }
  30% {
    top: 25px;
  }
  40% {
    top: 20px;
  }
  50% {
    top: 25px;
  }
  66.6666% {
    top: 20px;
    right: 98px;
    width: 35px;
    height: 38px;
    background-image: url(../images/viewpoint_diamond.png);
    background-repeat: no-repeat;
  }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    66.6666% {
      background-image: url(../images/viewpoint_diamond@2x.png);
      background-size: 35px 38px;
    }
  }
  70% {
    top: 10px;
    right: 82px;
    width: 51px;
    height: 57px;
    background-image: url(../images/viewpoint_diamond_active.png);
    background-repeat: no-repeat;
  }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    70% {
      background-image: url(../images/viewpoint_diamond_active@2x.png);
      background-size: 51px 57px;
    }
  }
  80% {
    top: 20px;
  }
  90% {
    top: 10px;
  }
  100% {
    top: 15px;
    right: 82px;
    width: 51px;
    height: 57px;
    background-image: url(../images/viewpoint_diamond_active.png);
    background-repeat: no-repeat;
  }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    100% {
      background-image: url(../images/viewpoint_diamond_active@2x.png);
      background-size: 51px 57px;
    }
  }
}
@-ms-keyframes diamond-producing {
  0% {
    top: 20px;
  }
  10% {
    top: 25px;
  }
  20% {
    top: 20px;
  }
  30% {
    top: 25px;
  }
  40% {
    top: 20px;
  }
  50% {
    top: 25px;
  }
  66.6666% {
    top: 20px;
    right: 98px;
    width: 35px;
    height: 38px;
    background-image: url(../images/viewpoint_diamond.png);
    background-repeat: no-repeat;
  }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    66.6666% {
      background-image: url(../images/viewpoint_diamond@2x.png);
      background-size: 35px 38px;
    }
  }
  70% {
    top: 10px;
    right: 82px;
    width: 51px;
    height: 57px;
    background-image: url(../images/viewpoint_diamond_active.png);
    background-repeat: no-repeat;
  }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    70% {
      background-image: url(../images/viewpoint_diamond_active@2x.png);
      background-size: 51px 57px;
    }
  }
  80% {
    top: 20px;
  }
  90% {
    top: 10px;
  }
  100% {
    top: 15px;
    right: 82px;
    width: 51px;
    height: 57px;
    background-image: url(../images/viewpoint_diamond_active.png);
    background-repeat: no-repeat;
  }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    100% {
      background-image: url(../images/viewpoint_diamond_active@2x.png);
      background-size: 51px 57px;
    }
  }
}
@-webkit-keyframes diamond-producing {
  0% {
    top: 20px;
  }
  10% {
    top: 25px;
  }
  20% {
    top: 20px;
  }
  30% {
    top: 25px;
  }
  40% {
    top: 20px;
  }
  50% {
    top: 25px;
  }
  66.6666% {
    top: 20px;
    right: 98px;
    width: 35px;
    height: 38px;
    background-image: url(../images/viewpoint_diamond.png);
    background-repeat: no-repeat;
  }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    66.6666% {
      background-image: url(../images/viewpoint_diamond@2x.png);
      background-size: 35px 38px;
    }
  }
  70% {
    top: 10px;
    right: 82px;
    width: 51px;
    height: 57px;
    background-image: url(../images/viewpoint_diamond_active.png);
    background-repeat: no-repeat;
  }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    70% {
      background-image: url(../images/viewpoint_diamond_active@2x.png);
      background-size: 51px 57px;
    }
  }
  80% {
    top: 20px;
  }
  90% {
    top: 10px;
  }
  100% {
    top: 15px;
    right: 82px;
    width: 51px;
    height: 57px;
    background-image: url(../images/viewpoint_diamond_active.png);
    background-repeat: no-repeat;
  }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    100% {
      background-image: url(../images/viewpoint_diamond_active@2x.png);
      background-size: 51px 57px;
    }
  }
}
@keyframes diamond-producing {
  0% {
    top: 20px;
  }
  10% {
    top: 25px;
  }
  20% {
    top: 20px;
  }
  30% {
    top: 25px;
  }
  40% {
    top: 20px;
  }
  50% {
    top: 25px;
  }
  66.6666% {
    top: 20px;
    right: 98px;
    width: 35px;
    height: 38px;
    background-image: url(../images/viewpoint_diamond.png);
    background-repeat: no-repeat;
  }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    66.6666% {
      background-image: url(../images/viewpoint_diamond@2x.png);
      background-size: 35px 38px;
    }
  }
  70% {
    top: 10px;
    right: 82px;
    width: 51px;
    height: 57px;
    background-image: url(../images/viewpoint_diamond_active.png);
    background-repeat: no-repeat;
  }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    70% {
      background-image: url(../images/viewpoint_diamond_active@2x.png);
      background-size: 51px 57px;
    }
  }
  80% {
    top: 20px;
  }
  90% {
    top: 10px;
  }
  100% {
    top: 15px;
    right: 82px;
    width: 51px;
    height: 57px;
    background-image: url(../images/viewpoint_diamond_active.png);
    background-repeat: no-repeat;
  }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    100% {
      background-image: url(../images/viewpoint_diamond_active@2x.png);
      background-size: 51px 57px;
    }
  }
}
