/*尺寸配置*/
@screen-desktop: 1024px;
@screen-tablet: 768px;
@content-width: 1000px;
/*颜色表*/
@c-basic: #E45755;
@c-red: #EB7D7C;

html{
  font-family: "Arial", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", "sans-serif";
}
body{
  margin: 0;
}

/*工具样式*/
.clearfix{
  &:after,&:before{
    content: '';
    display: table;
    clear: both;
  }
}
.pos-center{
  margin-left: auto;
  margin-right: auto;
}
.container{
  .pos-center;
  width: @content-width;
}

/*头部*/
.header{
  position: relative;
  .clearfix;
  &:before{
    position: absolute;
    display: block;
    top: 100%;
    right: 0;
    width: 80%;
    height: 1px;
    background-color: #D6D6D6;
  }
  .logo{
    @size: 100px;
    float: left;
    margin-top: @size/3;
    margin-bottom: -@size/3;
    width: @size;
    height: @size;
    background-color: #fff;
    .box-shadow(0 5px 10px rgba(0,0,0,.15));
    .border-radius(50%);
    img{    
      margin-top: 5px;
      margin-left: -8px;
      display: block;
      width: 100%;
      pointer-events: none;
    }
  }
  .navbar{
    list-style: none;
    margin: 50px 0 0;
    padding: 0;
    float: right;
    li{
      @triangle-size: 10px;
      position: relative;
      float: left;
      margin: -1px 25px;
      font-size: 20px;
      line-height: 20px;
      border: 1px solid transparent;
      &:after, &:before{
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        .transition(border .2s);
      }
      &:before{
        margin-left: -@triangle-size;
        border: @triangle-size solid transparent;
        border-top-width: 0;
        border-top-color: #D6D6D6;
      }
      &:after{
        margin-left: -@triangle-size + 2;
        border: @triangle-size - 2 solid transparent;
        border-top-width: 0;
        border-top-color: #fff;
      }
      &:hover{
        &:before{
          border-top-width: @triangle-size;
        }
        &:after{
          border-top-width: @triangle-size - 2;
        }
        a{
          color: @c-red;
        }
      }
      a{
        display: block;
        padding: 15px 12px;
        color: #44494F;
        text-decoration: none;
      }
      &.active{
        border-color: @c-red;
        &:before{
          border-top-width: @triangle-size;
          border-top-color: @c-red;
        }
        &:after{
          border-top-width: @triangle-size - 2;
        }
        a{
          color: @c-red;
        }
      }
    }
  }
}
/*版权部分*/
.footer{
  padding: 20px 0;
  text-align: center;
  font-size: 14px;
  line-height: 14px;
  color: #666;
  a{
    margin: 0 3px;
    display: inline-block;
    color: #666;
    text-decoration: none;
    &:hover{
      color: @c-basic;
      text-decoration: underline;
    }
  }
}

/*首页*/
.homepage-container{
  @item-height: 600px;
  margin-bottom: 60px;
  border-bottom: 4px solid @c-basic;
  .clearfix;
  .soldier, .abstack-text, .elephant{
    float: left;
    margin-bottom: -2px;
  }
  .soldier{
    width: 160px;
    height: @item-height;
    background: url('../images/soldier.png') no-repeat center bottom;
  }
  .abstack-text{
    width: 340px;
    height: @item-height;
    background: url('../images/abstack_name.png') no-repeat center 50%;
  }
  .elephant{
    width: 500px;
    height: @item-height;
    background: url('../images/elephant_machine.png') no-repeat center bottom;
  }
  .skyline{
    margin-top: -16px;
    margin-bottom: -4px;
    height: 20px;
    background: url('../images/skyline.png') #fff no-repeat center bottom;
  }
}

/*项目页面*/
.project-list-header{
  margin-top: 60px;
}
.project-list-header,.project-list-footer{
  display: block;
  max-width: 100%;
  pointer-events: none;
}
.deep-footer{
  padding: 80px 0 20px;
  color: #fff;
  background-color: #2E343A;
  a{
    color: #fff;
  }
}
.project-list{
  list-style: none;
  margin: 50px 0 0;
  padding: 0;
  .clearfix;
  li{
    float: left;
    width: 50%;
    text-align: center;
    a{
      display: block;
      margin: 0 20px 50px;
      text-decoration: none;
      img{
        max-width: 100%;
        pointer-events: none;
      }
      h2{
        margin: 20px 0 10px;
        color: #333333;
        font-size: 20px;
        line-height: 20px;
        font-weight: normal;
        .transition(color .2s);
      }
      p{
        margin: 10px 0;
        height: 36px;
        color: #999999;
        font-size: 14px;
        line-height: 18px;
      }
      &:hover{
        h2{
          color: @c-basic;
        }
      }
    }
  }
}

/*观点样式*/
.viewpoint-header{
  margin-top: -100px;
  margin-bottom: 50px;
  width: 100%;
  min-width: @content-width;
  pointer-events: none;
}
.viewpoint-item{
  margin: 30px 50px;
  height: 300px;
  h2{
    margin: 0 0 10px;
    color: #646464;
    font-size: 28px;
    line-height: 28px;
    font-weight: normal;
  }
  p{
    font-size: 14px;
    line-height: 22px;
    color: #666666;
  }
  &.tools{
    padding-right: 380px;
    background: url('../images/viewpoint_tools.png') no-repeat right center;
    background-size: auto 100%;
    h2{
      padding-top: 90px;
    }
  }
  &.ue{
    padding-left: 420px;
    background: url('../images/viewpoint_ue.png') no-repeat left center;
    background-size: auto 100%;
    h2{
      padding-top: 120px;
    }
  }
  &.delivery{
    padding-right: 460px;
    background: url('../images/viewpoint_delivery.png') no-repeat right center;
    background-size: auto 100%;
    h2{
      padding-top: 120px;
    }
  }
}

/*函数类工具*/
/*圆角*/
.border-radius(@value){
  -webkit-border-radius: @value;
  -o-border-radius: @value;
  -moz-border-radius: @value;
  -ms-border-radius: @value;
  border-radius: @value;
}
/*透明度*/
.opacity(@value){
  opacity: @value/100;
  filter: ~"alpha(opacity=@{value})";
}
/*过渡*/
.transition(@value){
  -webkit-transition: @value;
  -o-transition: @value;
  -moz-transition: @value;
  -ms-transition: @value;
  transition: @value;
}
/*变换*/
.transform(@value){
  -webkit-transform: @value;
  -o-transform: @value;
  -moz-transform: @value;
  -ms-transform: @value;
  transform: @value;
}
/*盒子阴影*/
.box-shadow(@value){
  -webkit-box-shadow: @value;
  -o-box-shadow: @value;
  -moz-box-shadow: @value;
  -ms-box-shadow: @value;
  box-shadow: @value;
}